body {
	background: #000;
	color: #aaa;
	font-family: Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
}

img {
	border: none;
}
div {
	border-radius: 15px;
}
h1.noPad {
	padding: 0px;
    margin: 0px;
}
.small {
	font-size:50%;
	vertical-align:middle;
}
pre {
	display: inline;
	font-size:140%;
}

section.title_sec {
	width: 53%;

	line-height: 60px;
	height: 60px;

	text-align: center;
	margin-left: auto ;
	margin-right: auto ;

	background: #202020;
	border-radius: 15px;
}
div#total_money_title {
	float: left;
	width: 40%;
}
div#title {
	width: 24%;

	float: left;
}
div#bet {
	width: 35%;
	float: left;
}
div#message {
	line-height: 75px;
	height: 75px;
	width: 100%;

	display: none;
}

section.main_sec {
	width: 50%;
	height: 240px;

	margin: auto;
	padding: 10px;
	text-align: center;

	background: gray;
}
div#default {
	line-height: 200px;
	height: 200px;
	width: 55%;

	background: #202020;

	display: none;

	margin-left: auto;
	margin-right: auto;
}
div#player {
	line-height: 200px;
	width: 50%;
	height: 200px;
	
	background: #202020;

	float: left;

	display: none;
}
div#house {
	line-height: 200px;
	margin-left: 50%;
	height: 200px;

	background: #202020;

	display: none;
}

div#buttons {
	line-height: 50px;
	height: 50px;
	width: 100%;

	margin-left: auto;
	margin-right: auto;

	display: none;
}

div#stats {
	margin: auto;
	padding: 10px;
	text-align: center;

	line-height: 100px;
	height: 120px;
	width: 51.5%;

	margin-left: auto;
	margin-right: auto;
	
	background: #202020;
}

span.valign {
	display: inline-block;
	vertical-align: middle;
	line-height: 1em;
}


/* http://jeromejaglale.com/doc/css/pretty_button */
input[type="button"] {
	font: bold 13px "Helvetica Neue", Helvetica, Arial, clean, sans-serif !important;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25), -2px 0 1px rgba(0,0,0,0.25);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	display: inline-block;
	color: white;
	padding: 5px 10px 5px;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	background: green url(img/button_overlay.png) repeat-x scroll 0 0;
	border-style: none;
	text-align: center;
	overflow: visible;
}
 
input[type="button"]:hover,
input[type="button"]:focus {
	background-position: 0 -50px;
	color: white;
}
 
input[type="button"]:active {
	background-position: 0 -100px;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.7);
	-webkit-box-shadow: none;
}